html { 
  height: 100%; 
}

div {
  display: block;
}

body { 
  margin: 0; 
  height: 100%; 
  width:100%; 
  background-color: #C1E1A6;
}

#total-container {
  position: relative;
  margin: 20px auto;
  margin-top: 100px;
  width: 880px;
  height: 400px;
  background: white;
  -moz-box-shadow: 0 5px 25px #333;
  -webkit-box-shadow: 0 5px 25px #333;
  box-shadow: 0 5px 25px #333;
}

#total-container #userlist {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 175px;
}

#total-container #firepad-container {
  position: absolute;
  left: 175px;
  right: 0;
  height: 100%;
  width: auto;
}