/***
Copyright: Akshay Goel
http://akshaygoel.net
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);


html { 
  height: 100%; 
}

div {
  display: block;
}

body { 
  margin: 0; 
  height: 100%; 
  width:100%; 
  /*background-color: #C1E1A6;*/
  background: #f2f2f2 url("images/overlay.png");
}

/* General Elements */

.btn {
  font-size: 2em;
  background-image: none;
  border-color: #333;
}

/* User Information Containers */

#main{
  padding-top: 70px;
  text-align: center;
}

.userInfoContainer #goButton {
  width: 200px;
  display: none;
}

/* userType container */

.container #userType {
  text-align: center;
  display: block;
}

  .container #userType .btn {
    display: inline-block;
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
  }

/* User-name container */

.container #name {
  width: 100%;
}

  .container #name input {

    height: 60px;
    font-size: 55px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 100;
    border: none;
    outline: none;
    border-bottom: 1px solid #BBB;
    background-color: transparent;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    width: 0px;
  }

    .container #name input:focus {
      width: 50%;
      outline: none;
      z-index: 1;
      cursor: text;
      background: transparent;
    }

/* Interview Session CSS (Code-Editor Displayed Screen) */

#session-container {
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  background: white;
  -moz-box-shadow: 0 5px 25px #333;
  -webkit-box-shadow: 0 5px 25px #333;
  box-shadow: 0 5px 25px #333;
  visibility: hidden;
}

  #session-container #userlist {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 175px;
  }

  #session-container .firepad-userlist {
    height: 100%;
    margin-top: -20px;
  }

  #session-container #firepad-container {
    position: absolute;
    left: 175px;
    right: 0;
    height: 100%;
    width: auto;
    font-size: 1.1em;
  }

/* Plus Button for comment */

.fa-plus-square {
  position: absolute;
  top: 0px;
  margin-left: 70%;
  z-index: 1;
  display: none;
}

  .fa-plus-square:hover {
    font-size: 1.5em;
  }

/* Close Button */

.fa-close:hover {
  color: red;
}

/* POPOVER */
#sendComment {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

.popover textarea.form-control {
  max-width: 100%;
}